.header {
  height: 7vh;
  background: #f7f5f5;
  box-shadow: 5px 5px 5px lightgrey;
  z-index: 1;
}

.background {
  height: 100%;
}

.sideBarAndContent {
  display: flex;
  justify-content: center;
}

.sideBar {
  height: 100%;
  box-shadow: 5px 5px 5px lightgrey;
  background: #f7f5f5;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 7vh;
  z-index: 1;
}

.sideBarTab {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem;
}

.sideBarTab:hover {
  background-color: lightgrey;
}

.content {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.testing {
  padding: 1rem;
  border: 1px solid red;
}