.wallet {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 5px lightgrey;
  display: flex;
  flex-direction: column;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #f7f5f5;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

.transaction p {
  margin: auto 0; /* To vertically center text*/
}

.submitTxnButton {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem 0;
}